<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @profile.picture %>
</p>

<p>
  <strong>Born:</strong>
  <%= @profile.born %>
</p>

<p>
  <strong>Registered:</strong>
  <%= @profile.registered %>
</p>

<p>
  <strong>Range:</strong>
  <%= @profile.range %>
</p>

<p>
  <strong>Rating mean:</strong>
  <%= @profile.rating_mean %>
</p>

<p>
  <strong>Rating count:</strong>
  <%= @profile.rating_count %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
