<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @suggestion.activity_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @suggestion.user_id %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @suggestion.accepted %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
